{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="blog-card-div text-center" style="border: 1px solid #f4f6f8">
        <div class="card-header">
            后台管理 1
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">文章发布</h5>
            <p class="card-text">静下心来好好写一篇文章，积累自己的知识，锻炼自己的逻辑能力</p>
            <a href="/editor" class="btn btn-primary">Go Write ! </a>
        </div>
    </div>

    <div class="blog-card-div text-center" style="border: 1px solid #f4f6f8">
        <div class="card-header">
            后台管理 2
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">文章修改</h5>
            <p class="card-text">将没有完成的事完成吧！</p>
            <a href="#" class="btn btn-primary">Go Write ! </a>
        </div>

    </div>
</div>
{% endblock %}