<!--将当前页面继承到block位置-->
{% extends 'article_base.html' %}
{% block article %}

<div class="row mb-2">
    <!--    卡片开始-->
    {% for article in result %}
    <div class="col-md-12 " style="">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <div style="padding: 5px 5px ">
                    <strong class="d-inline-block mb-2 text-primary"
                            style="padding: 0 0">{{article_type[article.type | string]}}</strong>
                </div>
                <div style="height: 10%">
                    <h3 class="mb-0" style="font-size: 20px">{{article.headline}}</h3>
                    <div class="mb-1 text-muted" style=" font-size:15px; align-content: center">
                        {{article.createtime}}
                    </div>
                </div>
                <div class="row d-flex" style="height: 10%">
                    <!--                                <div class="col-7 mb-1 text-muted" style=" font-size:15px; align-content: center">{{article.createtime}}</div>-->
                    <div class="col-12 mb-1 text-muted" style=" text-align:right;">
                        <i class="bi bi-thermometer-half">{{article.readcount}}</i>
                    </div>
                </div>
                <div style="height: 40%; padding-top: 15px">
                    <p class="card-text" style="align-content: flex-start">{{article.content | striptags |
                        truncate(25)}}</p>
                </div>
                <div>
                    <a href="/article/{{article.articleid}}" class="stretched-link">继续阅读</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--上一页下一页导航栏-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            {% if page ==1 %}
            <a class="page-link" href="/search_list/{{keyword}}-1" tabindex="-1" aria-disabled="true">Previous</a>
            {% else %}
            <a class="page-link" href="/search_list/{{keyword}}-{{page -1 }}" tabindex="-1" aria-disabled="true">Previous</a>
            {% endif %}
        </li>
        {% for i in range(total) %}
        <li class="page-item"><a class="page-link" href="/search_list/{{keyword}}-{{i+1}}">{{i+1}}</a></li>
        {% endfor %}
        <li class="page-item">
            {% if page ==total%}
            <a class="page-link" href="/search_list/{{keyword}}-{{total}}">Next</a>
            {% else %}
            <a class="page-link" href="/search_list/{{keyword}}-{{page +1 }}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}
